.sidebarNav-link {
  color: #230215 !important;
  font-family: Cambria, Georgia, serif;
  white-space: nowrap;
}

.sidebarNav-link:hover {
  color: #efecca;
}

.sidebarNav-link:focus {
  color: #54474c !important;
}

.sidebarNav-link:hover {
  color: #54474c !important;
}

.sideBarElements {
  padding-top: 10px;
  padding-bottom: 10px;
  border-style: dashed;
  vertical-align: middle;
}

.sidebarNav  {
  max-width: 80%;
}
